Repository ae-utbm/sith3, pull requests merged in 2022-12, with the labels that each got.

#506 Fix election candidate overflowing texte
  core/static/election/election.scss
  election/templates/election/election_detail.jinja
Labels: type: optimization, f: responsive, frontend

#508 Fix election page css
  core/static/core/js/shorten.min.js
  core/static/core/style.scss
  core/static/election/election.scss
Labels: type: optimization, f: responsive, frontend

#518 Fix le panier de l'Eboutic pour Safari
  .gitignore
  club/tests.py
  core/static/core/js/shorten.min.js
  core/static/core/style.scss
  core/static/election/election.scss
  eboutic/forms.py
  eboutic/static/eboutic/js/eboutic.js
  eboutic/views.py
  election/templates/election/election_detail.jinja
  sith/settings.py
Labels: s: eboutic

#521 Changement du comportement de Poetry dans les workflows
  .github/workflows/deploy.yml
  .github/workflows/taiste.yml
Labels: g: workflow, actions

#522 [Eboutic] Fix double quote issue & improved user experience on small screen
  eboutic/forms.py
  eboutic/static/eboutic/css/eboutic.css
  eboutic/static/eboutic/js/eboutic.js
  eboutic/templates/eboutic/eboutic_main.jinja
Labels: b: optimizations, e: taiste, f: ergonomy, f: responsive, s: eboutic
